{% extends 'adminnavbar.html' %}

{% block content %}
<h2 align="center">Add Student Data</h2>
<form action="addstudent" method="POST">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>StudentName</td>
            <td><input type="text" name="txtName"></td>
        </tr>
        <tr>
            <td>StudentPhNo</td>
            <td><input type="number" name="txtPhno"></td>
        </tr>
        <tr>
            <td>StudentEmail</td>
            <td><input type="email" name="txtMail"></td>
        </tr>
        <tr>
            <td>StudentCity</td>
            <td>
                <select name="ddlCity">
                    <option>--Select city--</option>
                {% for i in CityData %}
                    <option>{{ i.city_name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>StudentCourse</td>
            <td>
                <select name="ddlCourse">
                    <option>--Select course name--</option>
                {% for i in CourseData %}
                    <option>{{ i.course_name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>CourseFee:</td>
            <td><input type="number" name="txtCourseFees" disabled></td>
        </tr>
        <tr>
            <td>Paid Fees:</td>
            <td><input type="number" name="txtPaidFees" ></td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="btnAdd" value="AddStudent">
            </td>
        </tr>
    </table>
</form>
{% endblock %}