{% extends 'adminnavbar.html' %}

{% block content %}
<h2>Update the Course Data</h2>
<form method="POST">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>CourseName</td>
            <td><input type="text" name="txtcoursename" value="{{ data.course_name }}"></td>
        </tr>
        <tr><td>CourseDuration</td>
            <td><input type="text" name="txtcourseduration" value="{{ data.course_duratio }}"> </td>
        </tr>
        <tr>
            <td>CourseFee</td>
            <td><input type="number" name="txtcoursefee" value="{{ data.course_fees }}"></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" name="btnLogin" value="AddCourse">
            </td>
        </tr>
    </table>
</form>
{% endblock %}