{% extends 'adminnavbar.html' %}

{% block content %}
<h2 align="center">Add Student Data</h2>
<form method="POST">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td>StudentName</td>
            <td><input type="text" name="txtName" value="{{ student.stud_name }}"></td>
        </tr>
        <tr>
            <td>StudentPhNo</td>
            <td><input type="number" name="txtPhno" value="{{ student.stud_phno }}"></td>
        </tr>
        <tr>
            <td>StudentEmail</td>
            <td><input type="email" name="txtMail" value="{{ student.stud_email }}"></td>
        </tr>
        <tr>
            <td>StudentCity</td>
            <td>
                <select name="ddlCity">
                    <option selected>{{ student.stud_city}}</option>
                {% for i in CityData %}
                    <option>{{ i.city_name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>StudentCourse</td>
            <td>
                <select name="ddlCourse">
                    <option selected>{{ student.stud_course }}</option>
                {% for i in CourseData %}
                    <option>{{ i.course_name }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>CourseFee:</td>
            <td><input type="number" name="txtCourseFees" disabled></td>
        </tr>
        <tr>
            <td>Paid Fees:</td>
            <td><input type="number" name="txtPaidFees" value="{{ student.paid_fees }}"></td>
        </tr>
        <tr>
            <td>Pending Fees:</td>
            <td><input type="number" name="txtPendingFees" value="{{ student.pending_fees }}" disabled></td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="btnUpdate" value="UpdateStudent">
            </td>
        </tr>
    </table>
</form>
{% endblock %}